In [13]:
#Name : Priyanka Manoj Naik - 50248591

print "hello world!"

hello world!

In [2]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}

def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]
    
input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
     'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
     'state_code': 'TX'},
]

for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print name + ' now lives in ' + state
    print '   and makes $' + str(salary)

Susan now lives in Washington
   and makes $105000.0
Ellen now lives in Texas
   and makes $78750.0

In [3]:
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""

print my_integer
print my_other_integer
print my_float
print my_true_bool
print my_false_bool
print this_is_true
print this_is_false
print a_string
print same_as_previous
print an_empty_string
print w_a_single_quote
print multi_line_string

2
5
2.0
True
False
True
False
hello
hello

hello's
line 1
line 2

In [4]:
"ABCD"[0]

'A'

In [5]:
"ABCD"[0:2]

'AB'

In [6]:
"ABCD"[1:3]

'BC'

In [7]:
"ABCD"[1:]

'BCD'

In [8]:
"ABCD"[:-1]

'ABC'

In [9]:
# This whole line is a comment
a = 5  # and the last part of this line is too
print a

5

In [10]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)

print my_list
print my_set
print my_tuple

['a ', 'b ', 'c ']
set(['a ', 'c ', 'b '])
('a ', 'b ', 'c ')

In [11]:
my_list = ["a ", "b ", "c "]
print my_list[0] # prints "a "
my_list[0] = "A " # changes that element of the list my_list.append("d ") # adds new element to the end
print my_list
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print mixed_list

a
['A ', 'b ', 'c ']
['A ', 5.7, 'B ', [1, 2, 3]]

In [12]:
original_list = [1,2,3,4,5,6,7,8]
print original_list
squares = [x*x for x in original_list]
print squares
squares_of_evens = [x*x for x in original_list if x%2==0]
print squares_of_evens

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]

In [13]:
my_list = ["a", "b", "c"]
print my_list
first_two_elements = my_list[0:2]
print first_two_elements

['a', 'b', 'c']
['a', 'b']

In [14]:
my_list = ["a", "b", "c"]
print my_list
first_two_elements = my_list[:2]
print first_two_elements
last_two_elements = my_list[1:]
print last_two_elements

['a', 'b', 'c']
['a', 'b']
['b', 'c']

In [15]:
my_list = ["a", "b", "c"]
print my_list
all_but_last_element = my_list[:-1]
print all_but_last_element

['a', 'b', 'c']
['a', 'b']

In [16]:
"ABC DEF".split()

['ABC', 'DEF']

In [17]:
"ABC \tDEF".split()

['ABC', 'DEF']

In [18]:
"ABC \tDEF".split(' ')

['ABC', '\tDEF']

In [19]:
"ABCABD".split("AB")

['', 'C', 'D']

In [20]:
",".join(["A", "B", "C"])

'A,B,C'

In [21]:
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

'BDF'

In [22]:
my_tuple = (1, 2, "hello world")
print my_tuple[0] # prints 1
my_tuple[1] = 5 # This will give an error!

1

TypeError: 'tuple' object does not support item assignment

In [23]:
my_tuple = (1, 2)
print my_tuple
zeroth_field, first_field = my_tuple
print zeroth_field
print first_field

(1, 2)
1
2

In [24]:
my_dict = {"January": 1, "February":2}
print my_dict["January"] # prints 1
my_dict["March"] = 3 # add new element my_dict["January"] = "Start of the year" # overwrite old value
print my_dict

1
{'January': 1, 'February': 2, 'March': 3}

In [25]:
pairs = [("one",1), ("two",2)]
print pairs
as_dict = dict(pairs)
print as_dict
same_as_pairs = as_dict.items()
print same_as_pairs

[('one', 1), ('two', 2)]
{'two': 2, 'one': 1}
[('two', 2), ('one', 1)]

In [26]:
s = set()
print s
5 in s

set([])

False

In [27]:
s.add(5)
print s
5 in s

set([5])

True

In [28]:
s.add(5) # does nothing
print s

set([5])

In [29]:
def my_function(x):
    x = x+1
    x_sqrd = x*x
    return x_sqrd
five_plus_one_sqrd = my_function(5)
print five_plus_one_sqrd

36

In [30]:
def func(x, n=2):
    return pow(x,n)

two_sqrd = func(2)
print two_sqrd
two_cubed = func(2, n=3)
print two_cubed

4
8

In [31]:
sqr = lambda x : x*x
five_sqrd = sqr(5)
print five_sqrd

25

In [32]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]

my_list = [1,2,3,4,5]
print my_list
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print sqrs_of_evens

[1, 2, 3, 4, 5]
[4, 16]

In [33]:
my_list = [1, 2, 3]
for x in my_list:
    print "the number is ", x

the number is  1
the number is  2
the number is  3

In [34]:
for key, value in my_dict.items():
    print "the value for ", key, " is ", value

the value for  January  is  1
the value for  February  is  2
the value for  March  is  3

In [35]:
i = 3
if i < 3:
    print "i is less than three"
elif i < 5: print "i is between 3 and 5"
else: print "i is greater than 5"

i is between 3 and 5

In [36]:
i= 0
while i < 5:
    print "i is still less than five"
    i = i+1

i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [37]:
try:
    lines = input_text.split("\n")
    print "tenth line was: ", lines[9]
except:
    print "There were < 10 lines"

There were < 10 lines

In [38]:
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
        if command == self.name: self.speak()
    def speak(self):
        print "bark bark!!"

fido = Dog("fido")
fido.respond_to_command("spot") # does nothing fido.respond_to_command("fido") # prints bark bark

In [39]:
a = 5  # a is a hashable int
b = a  # b points to a COPY of a
a = a + 1
print b  # b has NOT been incremented

5

In [40]:
A = []  # A is an UNhashable list
B = A   # B points to the SAME list as A.
A.append(5)
B

[5]

In [41]:
A = []  # A is an UNhashable list
A.append(5)
B = [x for x in A]
B

[5]

In [42]:
A = [{}, {}]  # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

In [5]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
  "name": ["Bob", "Alex", "Janice"],
  "age": [60, 25, 33]
  })
# Reading a DataFrame from a file
other_df = pd.read_csv("Data/myfile.csv")
print other_df
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1 
df["age_times_two"] = 2 * df["age"] 
df["age_squared"] = df["age"] * df["age"] 
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)
print df

     Name  Age
0     Bob   60
1    Alex   25
2  Janice   33
   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True

In [7]:
df = pd.DataFrame({
  "name": ["Bob", "Alex", "Jane"],
  "age": [60, 25, 33]
  })
print df.index # prints 0â€2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print df_w_name_as_ind.index # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"] 
print bobs_row["age"] # prints 60
print df_w_name_as_ind

RangeIndex(start=0, stop=3, step=1)
Index([u'Bob', u'Alex', u'Jane'], dtype='object', name=u'name')
60
      age
name
Bob    60
Alex   25
Jane   33

/Users/priyankanaik/Library/Python/2.7/lib/python/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [3]:
# import Pandas.  I always alias it as pd
import pandas as pd
s = pd.Series([1,2,3])  # make Series from list
# display the values in s
# note index is to the far left
s

0    1
1    2
2    3
dtype: int64

In [4]:
s+2 # Add a number to each element of s

0    3
1    4
2    5
dtype: int64

In [5]:
s.index # you can access the index directly

RangeIndex(start=0, stop=3, step=1)

In [6]:
# Adding two series will add corresponding elements to each other
s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

In [7]:
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)

pandas.core.series.Series

In [8]:
bobs_row

age                60
age_plus_one       61
age_times_two     120
age_squared      3600
over_30          True
Name: Bob, dtype: object

In [9]:
df_w_age = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33]
  })
df_w_height = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "height": [6.2, 4.0, 5.5]
  })
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))
print joined

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [10]:
print joined.reset_index()

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [11]:
df = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33],
    "height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
     })
# use built-in aggregates
print df.groupby("gender").mean()

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [12]:
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
        "name": max(ddf["name"]),
        "oldest": max(ddf["age"]),
        "mean_height": ddf["height"].mean()
    })
print df.groupby("gender").apply(agg)

        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60